<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes +FollowSymLinks
    </IfModule>

    RewriteEngine On

    # --- SANCTUM FIX FOR HOSTINGER ---
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e:HTTP_AUTHORIZATION=%1]
    # ---------------------------------

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # --- STORAGE FALLBACK FOR HOSTINGER SHARED HOSTING ---
    RewriteCond %{REQUEST_URI} ^/storage/(.+)
    RewriteCond %{DOCUMENT_ROOT}/storage/app/public/%1 -f
    RewriteRule ^storage/(.+) storage/app/public/$1 [L]

    RewriteCond %{REQUEST_URI} ^/storage/(.+)
    RewriteCond %{DOCUMENT_ROOT}/public/storage/%1 -f
    RewriteRule ^storage/(.+) public/storage/$1 [L]
    # ----------------------------------------------------

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    Header unset Alt-Svc
    Header always unset Alt-Svc
    Header always set Alt-Svc "clear"
</IfModule>
